
 body {
  background-color: #000;
  color: $defaultTextColor;
  font-family: $titleFont
}

div {
  margin: auto;
  text-align: center;
}

form {
  margin: 10px 5px;
  padding: 10px 5px;
}

button {
  background-color: $defaultTextColor;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    margin: 10px 5px;
    text-decoration: none;
    display: inline-block;
}

#change-password, #sign-out, #create-game, #stats-display, #message, #message3, #message3a, #reset-game, #stats-display, #get-stats, #message4, .gameBoard {
  display: none;
}

.gameTitle {
margin-top: 10px;
}

.gameBoard {
  width: 550px;
  height: 600px;
  margin: 50px auto;
}

#message, #message5 {
    color: $captainsMessage;
}

#message2, #message2a {
  margin-top: 10px;
}

.control-panel, .auth-panel{
  clear: both;
  margin: 10px,auto;
  max-width: 33%;
}

.auth-panel {
  min-width: 225px;
  background-color: $defaultTextBackground;
  border-radius: 12px;
}

legend {
  color: $defaultTextColor;
  font-size: $deafultFormLegendText;
}

input {
  width: 200px;
  font-size: $defaultFormTextSize;
  color: $contrastingTextColor;
  background-color: $defaultTextBackground;
}

.box_grid {
  float: left;
  text-align: center;
  border: 1px solid $defaultBoarderColor;
  width: 180px;
  height: 180px;
  cursor: crosshair;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .gameBoard {
      width: 380px;
      height: 380px;
      margin: 50px auto;

    }
    .box_grid {
      width: 120px;
      height: 120px;
    }
    .gameToken0 {
      width: 90px;
      height:90px;
    }
    .gameTokenX {
      width: 90px;
      height: 100px;
    }
}
