
 body {
  background-color: #000;
  color: $defaultTextColor;
  font-family: $titleFont
}

div {
  margin: auto;
/*  border: 1px solid $defaultBoarderColor; */
  text-align: center;
}

.menu {
  background-color: $defaultBoarderColor;
  min-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  color: $contrastingTextColor;
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.navItem {
  display: block;
  width: 200px;
  font-size: 14pnt;
}

.navItem:hover {
  background-color: $navItemContrastColor;
}

.gameTitle {
margin-top: 85px;
}

.gameBoard {
  width: 550px;
  height: 600px;
  margin: 50px auto;
}

#message {
    color: $captainsMessage;
}

.loginRegisterContainder{
  clear: both;
  margin: 50px 50px;
  min-height: 110px;
}

legend {
  color: $defaultTextColor;
  // text-shadow: $galacticTextGlow;
}

.login.register {
  float: left;
  max-width: 250px;
  min-height: 100px;
  color: $defaultTextColor;
}

input {
  font-size: $defaultFormTextSize;
  color: $contrastingTextColor;
  background-color: $defaultTextBackground;
}

.box_grid {
  float: left;
  text-align: center;
  border: 1px solid $defaultBoarderColor;
  width: 180px;
  height: 180px;
  cursor: crosshair;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .gameBoard {
      width: 380px;
      height: 380px;
      margin: 50px auto;
    }
    .box_grid {
      width: 120px;
      height: 120px;
    }
    .gameToken0 {
      width: 90px;
      height:90px;
    }
    .gameTokenX {
      width: 90px;
      height: 100px;
    }
}
