
body {
  background-image: url("../images/hubble_1.jpg");
  background-color: #000;
  color: $defaultTextColor;
}

div {

  margin: auto;
  border: 1px solid $defaultBoarderColor;
  text-align: center;
}

.gameBoard {
  margin: 50px 50px;
}

.loginRegisterContainder{
  clear: both;
  margin: 50px 50px;
  min-height: 110px;
}

.login.register {
  float: left;
  min-height: 100px;
}

input {
  font-size: $defaultFormTextSize;
  color: $defaultTextColor;
  background-color: $defaultTextBackground;
}

.grid {
  float: left;
}

.boxBottom {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
